<section class="bg-lightgrey pb-4 pt-lg-5" id="introduction">
  <div class="container pt-lg-3">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div
                class="card-header"
              >
                <h3 class="mb-0 title-medium color-blue separator-left">{{.title}}</h3>
              </div>

              <div>
                <div class="card-body">
                  <p class=mb-0>{{.content | safeHTML}}</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 d-none d-lg-flex align-items-center">
              <img
                src="{{.image}}"
                class="d-block mx-auto my-4"
                style="width: 200px"
                alt="{{.title}}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
