<section class="pb-4 bg-lightgrey up">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="card first-push-top px-lg-3">
                    <div class="card-header">
                        <h1 class="mb-0 title-medium color-orange separator-left">{{ .title | safeHTML }}</h1>
                    </div>

                    <div class="card-body p-lg-0 px-lg-3">
                        <p class="font-weight-medium lg-no-padding m-0">
                            {{ .subtitle | safeHTML }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
