{{ define "main" }}

<!-- hero area -->
<section
  class="hero-area overflow-hidden d-flex align-items-center"
  id="parallax"
  style="background-image: url('{{ .Params.banner.image | absURL }}')"
>
</section>
<!-- /hero area -->
{{ partial "components/page-title" (dict "context" . "title" .Params.banner.title "subtitle" .Params.banner.subtitle ) }}

{{ if .Params.documents.enable }}


<section class="bg-lightgrey pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        {{ with .Params.form }}
        <div class="card second-push-top">
            <div class="card-header">
              <h2 class="mb-0 title-medium color-blue separator-left">{{.title}}</h2>
            </div>
            <p class="pt-3 m-0">{{.subtitle}}</p>
          <div>
            <div class="card-body">
              <form id="ajaxForm" name='inscription' action="https://getform.io/f/7ae989ac-d8da-4a1b-8dd3-b09a3b4d5910" method="POST" class="mt-3" >
                <div class="form-group">
                  {{range .input}} {{if (not .textarea)}} 
                  <div class="input-icon mb-3 position-relative w-lg-{{ .width }} {{ .padding }} d-lg-inline-block">
                    <img src="{{.icon}}" alt="" class="icn-contact" />
                    <input
                      type="{{.type}}"
                      placeholder="{{.placeholder}}"
                      {{ if .required | eq true }} required="true" {{ end }} 
                      class="form-control {{.className}}"
                      name={{.name}}
                    />
                  </div>
                  {{end}} {{if .textarea}}
                  <div class="input-icon mb-3 position-relative">
                    <img src="{{.icon}}" alt="" class="icn-contact icn-contact-message" />
                    <textarea
                      cols="30"
                      rows="10"
                      placeholder="{{.placeholder}}"
                      {{ if .required | eq true }} required="true" {{ end }}                      
                      name="{{.name}}"
                    ></textarea>
                  </div>
                  {{end}} {{end}}
                  <div class="row mb-lg-4">
                    <div class="col-lg-8">
                      {{range $index, $el := .checkbox}}
                      <div class="form-check pb-3">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="checkbox-{{$index}}"
                          name="{{.name}}"
                        
                        />
                        <label class="form-check-label" for="checkbox-{{$index}}"
                          >{{.content}}</label
                        >
                      </div>
                      {{end}}
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center my-5 my-lg-0">
                      <input type="hidden" id="captchaResponse" name="g-recaptcha-response">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <button
                        type="submit"
                        class="btn font-weight-medium color-blue py-3 px-5"
                      >
                        Envoyer le message
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</section>

<script src="https://www.google.com/recaptcha/api.js?render=6Ld62j8aAAAAAN6zC4CY4GOyV2D_LU1x4CzuHsNs"></script>
<script>
  grecaptcha.ready(function() {
    grecaptcha.execute('6Ld62j8aAAAAAN6zC4CY4GOyV2D_LU1x4CzuHsNs', {action: 'homepage'})
            .then(function(token) {
              document.getElementById('captchaResponse').value = token;
            });
  });
</script>
{{ end }} {{ end }}


